.Serie
  
  &-heading
    background-color lightgray
    padding 2em 4em
    display flex
    align-items center

  &-description
    padding 1em 0

  &-body
    padding 2em 4em

.ThreadListItem
  padding 1em
  display flex
  align-items center

  &:not(:last-child)
    border-bottom 1px solid lightgray

  &-episode
    padding 1em
    font-size 1.5em
    background-color lightgray
    margin-right 1em


