* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
figure,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.Header {
  border-bottom: 1px solid #000;
  padding: 1em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Footer > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 1em;
}
.Logo {
  font-size: 1.5em;
  font-weight: bold;
}
.Searchbar {
  margin: 0 2em;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Searchbar-input {
  background-color: #d3d3d3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  padding: 0.5em;
}
.Searchbar-button {
  padding: 0.5em;
  border: none;
  margin-left: 0.5em;
}
.Navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Navigation-list-item {
  padding: 0.5em;
}
.ThreadList-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
}
.ThreadList-button {
  display: block;
  text-align: center;
  padding: 1em 0;
  background-color: #d3d3d3;
  margin-top: 2em;
}
.ThreadItem {
  border: 4px solid #daa520;
  padding: 0.5em;
}
.ThreadItem-skill {
  font-size: 0.8em;
}
.ThreadItem-heading {
  background-color: #ff8c00;
  color: #fff;
  display: inline-block;
  padding: 0.2em;
}
.ThreadItem-body {
  font-size: 1.2em;
  padding: 1em 0;
}
.ThreadItem-info {
  font-size: 0.8em;
}
.Hero {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Hero-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Hero-title {
  font-size: 2em;
}
.Hero-text {
  margin: 1em 0;
}
.Skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4em;
}
.Skill {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Skill-title {
  font-size: 1em;
}
.Skill-seriesCount,
.Skill-lessonsCount {
  font-size: 0.8em;
}
.About {
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.Thread-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 4em;
}
.Thread-headingTitle {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.Thread-title {
  font-size: 2em;
}
.Thread-headingContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.Thread-content {
  padding: 2em 4em;
}
.Thread-footer {
  padding: 0 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.RepliesSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.RepliesSection-heading {
  padding: 1em 0;
}
.ReplyBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ReplyBar-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.ReplyBar-input {
  width: 100%;
  padding: 0.5em;
}
.ReplyBar-footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.ReplyBar-socialLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ReplyList {
  padding: 2em 0;
}
.Reply {
  padding: 1em 0;
}
.Reply:not(:last-child) {
  border-bottom: 1px solid #000;
}
.Reply-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Reply-username {
  margin-bottom: 0.5em;
}
.Reply-meta {
  padding: 1em 0;
}
