@import 'variables'
@import 'mixins'
@import 'common'

*
  box-sizing border-box

h1, h2, h3, h4, p, figure, ul
  reset()

li
  list-style none

a
  text-decoration none

body
  reset()
  background-color badass