.Header
  border-bottom 1px solid black
  padding 1em 4em
  display flex
  justify-content space-between
  align-items center

.Logo
  font-size 1.5em
  font-weight bold

.Searchbar
  flex-basis 70%
  display flex
  align-items center

.Searchbar-input
  flex 1
  border none
  padding .5em

.Searchbar-button
  padding .5em
  border none
  margin-left .5em

.Navigation-list
  display flex

.Navigation-item
  padding .5em
