.Search
  display flex

.Filters
    flex-basis 30%

.Filter
  padding 1em

  &-heading
    margin-bottom .5em

  &-searchInput
    width 100%
    padding .5em

  &-label
    display block
    margin-bottom .5em

.Results
  flex 1

.Result
  padding 1em

  &:not(:last-child)
    border-bottom 1px solid lightgray

  &-body
    padding .5em 0