.Skill

    &-heading
        background-color lightgray
        height 40vh
        padding 2em 4em
        margin-bottom 2em
        display flex
        align-items center
        justify-content space-between

    &-details
        flex-basis 50%

    &-title
        padding .5em 0

.Series
    display grid
    grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
    grid-gap 1em
    padding 1em

.Serie
    background-color lightgray
    padding 1em

    &-body
        padding .5em 0
